#title {
    background-color: #B5000E;
    color: white;
  }

  h1 {
    font-family: 'Sansita Swashed', cursive;
    line-height: 1.5;
    font-size: 4rem !important;
  }

.logo{
    padding-left: 1rem;
    height: 4rem;
    width: 10rem;
}


/* NavBar */

.navbar-nav{
    color: white;
    padding: 1rem;
}

.nav-item{

    color:white;
    padding: 1rem;
}

/* Download-Button */
.Download-Button{
    margin: 5% 3% 5% 0;
}


/* Title page */

.Title{
    padding: 8rem;
}

.title-image{
    /* position: absolute;
    right: 10%; */
    width: 50rem;
    height: 40rem;
}

/* @media (min-width: 1200px) {
    #title {
        text-align: center;
      }
      .title-image {
        position: static;
      }
} */

/* Features */
.featured-icons{
    color: #ef8172;
    padding-bottom: 6%;
}

.featured-icons:hover {
    color:  #B5000E;
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}